.richtext-container .coral-RichText.is-edited {
 color: #000;
}

.js-coral-Multifield-input.coral-Multifield-input{
border:1px solid black;
        }
		
.js-coral-Multifield-input.coral-Multifield-input .coral-Form-fieldset{
    margin: 0 5px;
}

.cq-Overlay > .cq-Overlay {
                line-height: normal;
    font-size: 1.2rem;
}

.cq-Overlay--container {
    border: 1px dotted #ccc;
                min-height: 30px;
                z-index: 1;        
} 
.cq-Overlay.is-active, .cq-Overlay.is-hover, .cq-Overlay.is-selected{
	margin: 0 -0.125rem;
}

.cq-dialog.cq-dialog-fullscreen .richtext-container .coral-RichText, .scaffold-host-wizard .richtext-container .coral-RichText-sourceEditor, .cq-dialog.cq-dialog-fullscreen .richtext-container .coral-RichText-sourceEditor {
	height:auto;
}

.cq-dialog:not(.cq-dialog-fullscreen) .richtext-container .coral-RichText {
height:auto;
}

.cq-FileUpload:not(.is-filled) > .cq-FileUpload-thumbnail  {
    display:block;
}

.coral-SelectList {
  z-index: 10001;
}
#result-section-multifield{
	//width:100%;
}

#confirm-button{
	padding: 5px;
    margin-left: 20px;
}

.c-secondary-nav { 
	padding: 0 !important;
    position: static !important;
    background: transparent !important;
    height: auto !important;
    }