.honerte {
font-size: 2em;
font-weight: bold;
}
.htworte {
font-size: 1.5em;
font-weight: bold;
}
.hthreerte {
font-size: 1.2em;
font-weight: bold;
}
.hfourrte {
font-size: 1em;
font-weight: bold;
}
.hfiverte {
font-size: 0.8em;
font-weight: bold;
}
.hsixrte {
font-size: 0.7em;
font-weight: bold;
}