/* Rollout dialog styles */

.msm-rollout-dialog.cq-dialog-fullscreen .cq-dialog-content {
    margin-top: 0;
}

.live-copy-list .card-page .main > p.full-info {
    margin-top: 0.4375rem;
    text-transform: none;
    width: 100%;
}

.live-copy-list .card-page .main > .full-info > .title {
    font-weight: bold;
    color: #333333;
    display: block;
    font-size: 0.75rem;
}

.live-copy-list .card-page .coral-Checkbox-description {
    font-size: 0.75rem;
}

.live-copy-list .card-page .main > .full-info > .path {
    font-size: 0.75rem;
}

.live-copy-list .card-page .label > .select-option {
    width: 10%;
    height: 100%;
    position: relative;
    margin-top: 0.313rem; /* value for header */
    float: left;
    text-align: left;
}

.live-copy-list .card-page.foundation-collection-item .label > .select-option {
    /* articles only (excluding header) */
    margin-top: 0;
}

.live-copy-list .card-page .label > .select-option > label{
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.live-copy-list .card-page .label > .modified {
    width: 40%;
    height: 100%;
    position: relative;
    text-align: right;
}

.live-copy-list .card-page .main {
    width: 35%;
    text-align: left;
}

.live-copy-list .card-page .info.all .modified{
    width: 40%;
    text-align: right;
}

.live-copy-list .card-page > a {
    padding-left: 2.375rem;
}

.info-details > .fixedcolumn:first-of-type {
    text-transform: uppercase;
}

.info-details > .fixedcolumn:last-of-type {
    text-align: right;
}

.live-copy-list .card-page .status {
    width: 10%;
    text-align: left;
    float: left;
    position: relative;
}

.live-copy-list .card-page .status > span {
    margin-top: 0.8rem;
    color: #333333;
}

.msm-rollout-deep {
	margin-left: 2.4rem;
}

.fixedcolumn.msm-rollout-deep-container {
	display: none;
}

.coral-FixedColumn-column.msm-rollout-deep-container {
    text-align: left;
    display: block;
}