<div data-sly-use.rrcomp="com.unilever.platform.foundation.template.helper.RatingReviewHelper" data-sly-unwrap/> 

<sly data-sly-test.varone="${rrcomp.isTypeKitConfigPresent && !rrcomp.isTypeKitIdBlank}">
<!-- Type Kit section Start-->
	<link rel="dns-prefetch" href="https://use.typekit.com">
	<script type="text/javascript" src="https://use.typekit.com/${rrcomp.typeKitId}.js "></script>
	<script>try{Typekit.load();}catch(e){}</script>
<!-- Type Kit section End-->
</sly>